body {
  font-family: 'Roboto Slab', serif;
}


.container {
  width: 70%;
  margin: 0 auto;
}

.up {
  height: 90px;
  background-color: steelblue;
  background-image: url("../img/pattern.png");
  background-size: 350px;
}


.logo {
  margin-top: 30px;
  width: 18%;
  margin-bottom: 10px;
}

h1 {
  font-size: 40px;
  margin-bottom: 1px;
}

h3 {
 margin-top: 0px;
 margin-bottom: 0px;
 color: darkgrey;
}

h3 span {
  color: deepskyblue;
}

.data{

  margin-top: 0px;
  color: darkgrey;
}

.photo {
  font-size: 10px;
  margin-top: 1px;
}

.evidenziatore {
  background: yellow;
}

.lista {
  padding-left: 15px;
}

.tabella {
  width: 100%;
}

th {
  text-align: left;
  color: white;
}

.testa {
  background: rgb(32, 169, 229);
}

.corpo {
   background: rgb(177, 229, 242);
}

.piedi {
  background: rgb(177, 229, 242) ;
}

.suggerimenti {
  margin-bottom: 7px;
}